$DARK: #000000;

$DARK-OPACITY-1: rgba(0, 0, 0, 0.1);
$DARK-OPACITY-2: rgba(0, 0, 0, 0.2);
$DARK-OPACITY-3: rgba(0, 0, 0, 0.3);
$DARK-OPACITY-4: rgba(0, 0, 0, 0.4);
$DARK-OPACITY-5: rgba(0, 0, 0, 0.5);
$DARK-OPACITY-6: rgba(0, 0, 0, 0.6);
$DARK-OPACITY-7: rgba(0, 0, 0, 0.7);
$DARK-OPACITY-8: rgba(0, 0, 0, 0.8);
$DARK-OPACITY-9: rgba(0, 0, 0, 0.9);

$LIGHT: #ffffff;

$LIGHT-OPACITY-1: rgba(255, 255, 255, 0.1);
$LIGHT-OPACITY-2: rgba(255, 255, 255, 0.2);
$LIGHT-OPACITY-3: rgba(255, 255, 255, 0.3);
$LIGHT-OPACITY-4: rgba(255, 255, 255, 0.4);
$LIGHT-OPACITY-5: rgba(255, 255, 255, 0.5);
$LIGHT-OPACITY-6: rgba(255, 255, 255, 0.6);
$LIGHT-OPACITY-7: rgba(255, 255, 255, 0.7);
$LIGHT-OPACITY-8: rgba(255, 255, 255, 0.8);
$LIGHT-OPACITY-9: rgba(255, 255, 255, 0.9);

$GRAY-1: #262626;
$GRAY-2: #3c3c3c;
$GRAY-3: #515151;
$GRAY-4: #686868;
$GRAY-5: #7d7d7d;
$GRAY-6: #929292;
$GRAY-7: #a8a8a8;
$GRAY-8: #bebebe;
$GRAY-9: #d4d4d4;
$GRAY-10: #eaeaea;
