@use '@/styles/_color.scss' as *;

html[data-theme='light'] {
  --DYNAMIC: #{$DARK};
  --DYNAMIC-OPACITY-1: #{$DARK-OPACITY-1};
  --DYNAMIC-OPACITY-2: #{$DARK-OPACITY-2};
  --DYNAMIC-OPACITY-3: #{$DARK-OPACITY-3};
  --DYNAMIC-OPACITY-4: #{$DARK-OPACITY-4};
  --DYNAMIC-OPACITY-5: #{$DARK-OPACITY-5};
  --DYNAMIC-OPACITY-6: #{$DARK-OPACITY-6};
  --DYNAMIC-OPACITY-7: #{$DARK-OPACITY-7};
  --DYNAMIC-OPACITY-8: #{$DARK-OPACITY-8};
  --DYNAMIC-OPACITY-9: #{$DARK-OPACITY-9};

  --CONSTANT: #{$LIGHT};
  --CONSTANT-OPACITY-1: #{$LIGHT-OPACITY-1};
  --CONSTANT-OPACITY-2: #{$LIGHT-OPACITY-2};
  --CONSTANT-OPACITY-3: #{$LIGHT-OPACITY-3};
  --CONSTANT-OPACITY-4: #{$LIGHT-OPACITY-4};
  --CONSTANT-OPACITY-5: #{$LIGHT-OPACITY-5};
  --CONSTANT-OPACITY-6: #{$LIGHT-OPACITY-6};
  --CONSTANT-OPACITY-7: #{$LIGHT-OPACITY-7};
  --CONSTANT-OPACITY-8: #{$LIGHT-OPACITY-8};
  --CONSTANT-OPACITY-9: #{$LIGHT-OPACITY-9};

  --GRAY-1: #{$GRAY-10};
  --GRAY-2: #{$GRAY-9};
  --GRAY-3: #{$GRAY-8};
  --GRAY-4: #{$GRAY-7};
  --GRAY-5: #{$GRAY-6};
  --GRAY-6: #{$GRAY-5};
  --GRAY-7: #{$GRAY-4};
  --GRAY-8: #{$GRAY-3};
  --GRAY-9: #{$GRAY-2};
  --GRAY-10: #{$GRAY-1};
}

html[data-theme='dark'] {
  --DYNAMIC: #{$LIGHT};
  --DYNAMIC-OPACITY-1: #{$LIGHT-OPACITY-1};
  --DYNAMIC-OPACITY-2: #{$LIGHT-OPACITY-2};
  --DYNAMIC-OPACITY-3: #{$LIGHT-OPACITY-3};
  --DYNAMIC-OPACITY-4: #{$LIGHT-OPACITY-4};
  --DYNAMIC-OPACITY-5: #{$LIGHT-OPACITY-5};
  --DYNAMIC-OPACITY-6: #{$LIGHT-OPACITY-6};
  --DYNAMIC-OPACITY-7: #{$LIGHT-OPACITY-7};
  --DYNAMIC-OPACITY-8: #{$LIGHT-OPACITY-8};
  --DYNAMIC-OPACITY-9: #{$LIGHT-OPACITY-9};

  --CONSTANT: #{$DARK};
  --CONSTANT-OPACITY-1: #{$DARK-OPACITY-1};
  --CONSTANT-OPACITY-2: #{$DARK-OPACITY-2};
  --CONSTANT-OPACITY-3: #{$DARK-OPACITY-3};
  --CONSTANT-OPACITY-4: #{$DARK-OPACITY-4};
  --CONSTANT-OPACITY-5: #{$DARK-OPACITY-5};
  --CONSTANT-OPACITY-6: #{$DARK-OPACITY-6};
  --CONSTANT-OPACITY-7: #{$DARK-OPACITY-7};
  --CONSTANT-OPACITY-8: #{$DARK-OPACITY-8};
  --CONSTANT-OPACITY-9: #{$DARK-OPACITY-9};

  --GRAY-1: #{$GRAY-1};
  --GRAY-2: #{$GRAY-2};
  --GRAY-3: #{$GRAY-3};
  --GRAY-4: #{$GRAY-4};
  --GRAY-5: #{$GRAY-5};
  --GRAY-6: #{$GRAY-6};
  --GRAY-7: #{$GRAY-7};
  --GRAY-8: #{$GRAY-8};
  --GRAY-9: #{$GRAY-9};
  --GRAY-10: #{$GRAY-10};
}
