.phantom-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.solflare-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.math-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.trust-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.coinbase-logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
